<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FreeCRM" guice-stage="DEVELOPMENT">
  <test name="Regression Tests" verbose="2">
    <classes>
      <class name="com.crm.qa.testcases.LoginPageTest"/>
      <class name="com.crm.qa.testcases.HomePageTest"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->